@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Sansita+Swashed&display=swap");

/* CSS CODE */
body {
  margin: 0;
  background: #111111;
  font-family: "Roboto", "Euclid Circular A", "Poppins";
  
}
main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}
section {
  transform-style: preserve-3d;
  position: relative;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.no-byte {
  background-color: #111111;
  z-index: 999;
  animation: imgside 0.9s linear infinite   alternate;  
}
@keyframes imgside {
  to{

    transform:translateY(5px) ;
  }
}


.byte_Crafters {
  height: 100vh;
  
}
section h1 {
  text-align: center;
  font-size: 60px;
}
.byte_Crafters::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}
.bg::after {
  background: url("./byte_Crafters.jpg");
  background-size: cover;
}


